{{- if .Values.redis.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: {{ .Values.namespace }}
  labels:
    app: redis
    {{- include "laravel-vue-app.labels" . | nindent 4 }}
spec:
  storageClassName: {{ .Values.redis.persistence.storageClass }}
  accessModes:
    - {{ .Values.redis.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.redis.persistence.size }}
{{- end }}
